html,
body {
    position: relative;
    height: 100%;
}

body {
    background-color: #fefefe;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

#title {
    font-size: 36px;
    /* Tamaño del texto del título */
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

header {
    background-color: #ffffff;
    /* Color de fondo */
    padding: 20px 0;
    /* Espaciado interno */
    text-align: center;
    /* Alineación del texto */
    color: #333;
}

#sub {
    font-size: 18px;
}

nav {
    background-color: #e97aa5;
    /* Color de fondo del nav */
    padding: 10px;
    /* Espaciado interno */
    display: flex;
    /* Mostrar los elementos en línea */
    justify-content: space-between;
    /* Alinear los elementos hacia la izquierda */
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    letter-spacing: 1.5px;
}

.buscar-fav {
    display: flex;
    justify-content: center;
    padding-right: 10px;
}

.nav-ul {
    list-style-type: none;
    /* Eliminar los estilos de lista */
    margin: 0;
    padding-left: 10px;
    display: flex;
}

.nav-li {
    display: inline;
    /* Mostrar elementos en línea */
    margin-right: 50px;
}

.nav-li:last-child {
    margin-right: 0;
    /* Eliminar el margen derecho del último elemento */
    margin-left: auto;
}

.nav-li a {
    text-decoration: none;
    /* Eliminar subrayado del enlace */
    color: #fff;
    font-weight: bold;
    /* Texto en negrita */
    font-size: 16px;
    /* Tamaño de fuente */
    transition: color 0.3s;
    /* Transición suave */
}

.nav-li a:hover {
    color: #fff;
    /* Cambiar color al pasar el ratón */
    text-decoration: underline;
    /* Subrayar al pasar el ratón */
}

.favorite {
    background-image: url(images/favorite.png);
    width: 35px;
    height: 35px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s;
    margin-right: 30px;
}

.favorite:hover {
    opacity: 0.8;
    /* Reducir opacidad al pasar el ratón */
}

.search-text {
    padding: 8px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    width: 200px;
    background-color: #fff;
    /* Color de fondo claro */
    color: #333;
    /* Color del texto */
    outline: none;
    /* Eliminar el borde al enfocarse */
    transition: background-color 0.3s;
    margin-right: 10px;
}

.search-text:focus {
    background-color: #f0f0f0;
    /* Cambiar color de fondo al enfocarse */
}

.search-text::-webkit-search-cancel-button {
    appearance: none;
    -webkit-appearance: none;
    height: 20px;
    /* Altura de la tachita */
    width: 20px;
    /* Ancho de la tachita */
    background: url("images/cancel.png") no-repeat;
    /* Imagen personalizada */
    background-size: cover;
    /* Ajustar tamaño de la imagen */
    cursor: pointer;
}

.search-icon {
    background-image: url(images/search.png);
    background-size: cover;
    /* Ajustar tamaño de la imagen */
    background-repeat: no-repeat;
    /* No repetir la imagen */
    border: none;
    width: 30px;
    /* Ancho del botón */
    height: 30px;
    /* Alto del botón */
    cursor: pointer;
    transition: opacity 0.3s;
    background-color: transparent;
}

.search-icon:hover {
    opacity: 0.8;
    /* Reducir opacidad al pasar el ratón */
}

main {
    margin: 20px auto;
    max-width: 1200px;
    
}

.tarjeta {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

.tarjeta img {
    max-width: 100%;
    border-radius: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}